body{
    background: white;
}

.graph1{
    background: white;
}

*{margin: 0;padding: 0;
    box-sizing: border-box;}

.header{
    width: 100%;
    background-image: linear-gradient(to right, #de6262, #ffb88c);
}

.nav-link{
    color: white;
}

.navbar-brand{
    color: white;
}

*{
    text-align: center;
}

.graph-container {
    margin-bottom: 20px;
  }