{% extends "layout.html" %}

{% block body %}
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<!-- Create a div where the graph will take place -->
<div align="center" id="my_dataviz"></div>
<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvas" role="button" aria-controls="offcanvasExample">
	Sidebar
</a>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvasLabel">SELECTIONS</h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<div class="container">
			<h2>USA or States</h2>
			<form>
				<label class="checkbox-inline">
					<input type="checkbox" id="checky1" name="checky1" value="">USA </input> 
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="checky2" value="">States </input> <br>
				</label>
			</form>
		</div>

		<br>

		<div class="container">
			<h2>Pick Your Bounds</h2>
			<form>
				<https://label class="checkbox-inline">
					<input type="checkbox" id="checky1" value="">Option 1 </input> <br>
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="checky2" value="">Option 2 </input> <br>
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="checky3" value="">Option 3 </input> <br>
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="checky4" value="">Option 4 </input> <br>
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="checky5" value="">Option 5 </input> <br>
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="checky6" value="">Option 6 </input> <br>
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="checky7" value="">Option 7 </input> <br>
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="checky8" value="">Option 8 </input> <br>
				</label>
			</form>
		</div>

		<br>

		<div id="p" class="container">

			<h3> Selection Box </h3>

			<form action="/form-submit" method="POST" id="form">
				<select id="sel_id" name="sel_name" value="selection">
					<option id="Alabama" name="Alabama" value="AL">Alabama</option>
					<option id="Alaska" name="Alaska" value="AK">Alaska</option> 
					<option id="Arizona" name="Arizona" value="AZ">Arizona</option> 
					<option id="Arkansas" name="Arkansas" value="AR">Arkansas</option>
					<option id="California" name="California" value="CA">Alabama</option>
					<option id="Colorado" name="Colorado" value="CO">Alaska</option> 
					<option id="Connecticut" name="Connecticut" value="CT">Arizona</option> 
					<option id="Delaware" name="Delaware" value="DE">Arkansas</option>
					<option id="Alabama" name="Alabama" value="AL">Alabama</option>
					<option id="Alaska" name="Alaska" value="AK">Alaska</option> 
					<option id="Arizona" name="Arizona" value="AZ">Arizona</option> 
					<option id="Arkansas" name="Arkansas" value="AR">Arkansas</option>                  
				</select>
			</form>
		</div>
	</div>
</div>

<div id="demo">
	<h2>The XMLHttpRequest Object</h2>
	<button type="button" id="ajaxbut">Change Content</button>
</div>

<script src="../static/js/state.js"></script>
<script type="module">

	import * as d3 from "https://cdn.jsdelivr.net/npm/d3@7/+esm";

	const div = d3.selectAll("div");

</script>
{% endblock %}
