{% extends "layout.html" %}

{% block body %}
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>


<section class="header">
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg">
			<a class="navbar-brand" href="#">Home</a>
		  
			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
			  <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
				<li class="nav-item active">
				  <a class="nav-link" data-bs-toggle="offcanvas" href="#offcanvas"> 404 </a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/meme">Meme</a>
				</li>
			  </ul>
		  </nav>
	</div>
</section>

<hr>



<!-- Create a div where the graph will take place -->

<div id="my_dataviz"></div>
<!-- Create a div where the graph will take place -->
<div id="my_dataviz2"></div>



<hr>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvasLabel">SELECTIONS</h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<div class="container">
			<h2>USA or States</h2>
			<form>
				<label class="checkbox-inline">
					<input type="checkbox" id="checky1" name="checky1" value="">USA </input> 
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="checky2" value="">States </input> <br>
				</label>
			</form>
		</div>

		<br>

		<div class="container">
			<h2>Ethanol Upper Bound</h2>
			<form>
				<label class="checkbox-inline">
					<input type="checkbox" id="checky1" value=""> 2 </input> <br>
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="checky2" value=""> 3 </input> <br>
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="checky3" value=""> 4 </input> <br>
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="checky4" value=""> 5 </input> <br>
				</label>
				<label class="checkbox-inline">
			</form>
		</div>

		<br>

		<div class="container">
			<h2>Car Accident Upper Bound</h2>
			<form>
				<label class="checkbox-inline">
					<input type="checkbox" id="checky5" value=""> 2 </input> <br>
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="checky6" value=""> 3 </input> <br>
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="checky7" value=""> 4 </input> <br>
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="checky8" value=""> 5 </input> <br>
				</label>
				<label class="checkbox-inline">
			</form>
		</div>

		<br>

		<div id="p" class="container">

			<h3> Selection Box </h3>

			<form action="/form-submit" method="POST" id="form">
				<select id="sel_id" name="sel_name" value="selection">
          <option id="Alabama" name="Alabama" value="AL">Alabama</option>
          <option id="Alaska" name="Alaska" value="AK">Alaska</option>
          <option id="Arizona" name="Arizona" value="AZ">Arizona</option>
          <option id="Arkansas" name="Arkansas" value="AR">Arkansas</option>
          <option id="California" name="California" value="CA">California</option>
          <option id="Colorado" name="Colorado" value="CO">Colorado</option>
          <option id="Connecticut" name="Connecticut" value="CT">Connecticut</option>
          <option id="Delaware" name="Delaware" value="DE">Delaware</option>
          <option id="Florida" name="Florida" value="FL">Florida</option>
          <option id="Georgia" name="Georgia" value="GA">Georgia</option>
          <option id="Hawaii" name="Hawaii" value="HI">Hawaii</option>
          <option id="Idaho" name="Idaho" value="ID">Idaho</option>
          <option id="Illinois" name="Illinois" value="IL">Illinois</option>
          <option id="Indiana" name="Indiana" value="IN">Indiana</option>
          <option id="Iowa" name="Iowa" value="IA">Iowa</option>
          <option id="Kansas" name="Kansas" value="KS">Kansas</option>
          <option id="Kentucky" name="Kentucky" value="KY">Kentucky</option>
          <option id="Louisiana" name="Louisiana" value="LA">Louisiana</option>
          <option id="Maine" name="Maine" value="ME">Maine</option>
          <option id="Maryland" name="Maryland" value="MD">Maryland</option>
          <option id="Massachusetts" name="Massachusetts" value="MA">Massachusetts</option>
          <option id="Michigan" name="Michigan" value="MI">Michigan</option>
          <option id="Minnesota" name="Minnesota" value="MN">Minnesota</option>
          <option id="Mississippi" name="Mississippi" value="MS">Mississippi</option>
          <option id="Missouri" name="Missouri" value="MO">Missouri</option>
          <option id="Montana" name="Montana" value="MT">Montana</option>
          <option id="Nebraska" name="Nebraska" value="NE">Nebraska</option>
          <option id="Nevada" name="Nevada" value="NV">Nevada</option>
          <option id="New Hampshire" name="New Hampshire" value="NH">New Hampshire</option>
          <option id="New Jersey" name="New Jersey" value="NJ">New Jersey</option>
          <option id="New Mexico" name="New Mexico" value="NM">New Mexico</option>
          <option id="New York" name="New York" value="NY">New York</option>
          <option id="North Carolina" name="North Carolina" value="NC">North Carolina</option>
          <option id="North Dakota" name="North Dakota" value="ND">North Dakota</option>
          <option id="Ohio" name="Ohio" value="OH">Ohio</option>
          <option id="Oklahoma" name="Oklahoma" value="OK">Oklahoma</option>
          <option id="Oregon" name="Oregon" value="OR">Oregon</option>
          <option id="Pennsylvania" name="Pennsylvania" value="PA">Pennsylvania</option>
          <option id="Rhode Island" name="Rhode Island" value="RI">Rhode Island</option>
          <option id="SouthCarolina" name="South Carolina" value="SC">South Carolina</option>
          <option id="SouthDakota" name="South Dakota" value="SD">South Dakota</option>
          <option id="Tennessee" name="Tennessee" value="TN">Tennessee</option>
          <option id="Texas" name="Texas" value="TX">Texas</option>
          <option id="Utah" name="Utah" value="UT">Utah</option>
          <option id="Vermont" name="Vermont" value="VT">Vermont</option>
          <option id="Virginia" name="Virginia" value="VA">Virginia</option>
          <option id="Washington" name="Washington" value="WA">Washington</option>
          <option id="WestVirginia" name="West Virginia" value="WV">West Virginia</option>
          <option id="Wisconsin" name="Wisconsin" value="WI">Wisconsin</option>
          <option id="Wyoming" name="Wyoming" value="WY">Wyoming</option>
                           
				</select>
			</form>

		</div>
	</div>
</div>


<script src="../static/js/state.js"></script>
<script type="module">

	import * as d3 from "https://cdn.jsdelivr.net/npm/d3@7/+esm";

	const div = d3.selectAll("div");

</script>

<footer class="footer bg-dark text-light">
	<div class="container text-center">
	  <div class="row">
		<div class="col-lg-12">
		  <p>&copy; 2023 Squirrelz. All rights reserved.</p>
		</div>
	  </div>
	</div>
  </footer>
{% endblock %}
